@model WifeBudgetSystem.DataContext.CustomBill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomBill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomBillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
