@model IEnumerable<WifeBudgetSystem.DataContext.CustomBill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomBillId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomBillId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomBillId })
        </td>
    </tr>
}

</table>
