<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/images/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/images/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Content/images/icons/manifest.json">
    <link rel="mask-icon" href="~/Content/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="~/Content/images/icons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600">

    <!--
    To collect end-user usage analytics about your application,
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear
    automatically in just a few seconds.
    -->
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"69f41ea7-53bd-4c25-b548-5e1a4c4a14f8"
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>

    @Styles.Render("~/Styles/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")

    <script src="~/App/App.js"></script>
    <script src="~/App/ViewModels/IndexViewModel.js"></script>
</head>
<body ng-app="mainModule">

    <!-- Loader -->
    <div class="loader">
        <div class="loader-img"></div>
    </div>

    <header data-ng-controller="indexViewModel">
        <!-- Top menu -->
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">LOGO</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="top-navbar-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="userName"><a class="scroll-link" href=""><i class="fa fa-user"></i> {{ userName }}</a></li>
                        <li ng-show="!userName"><a class="scroll-link" href="/#/login"><i class="fa fa-sign-in"></i> Login</a></li>
                        <li ng-show="userName"><a class="scroll-link" href="" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
     </header>

    <div class="container body-content">
        @RenderBody()

        <div ng-view></div>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">

                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="footer-social">
                           
                            <a target="_blank" href="https://twitter.com/gadjetboi"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="https://github.com/gadjetboi"><i class="fa fa-github"></i></a>
                            <a target="_blank" href="https://sg.linkedin.com/in/vanz-perla-1527072b"><i class="fa fa-linkedin"></i></a>
                          
                        </div>
                        <div class="footer-copyright">
                            &copy; @DateTime.Now.Year - <a href="http://myfreemoneytracker.azurewebsites.net">MyFreeMoneyTracker</a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script src="~/App/Services/HelperService.js"></script>
    <script src="~/App/Services/AccountService.js"></script>
    <script src="~/App/ViewModels/LoginViewModel.js"></script>
    <script src="~/App/ViewModels/ResetPasswordViewModel.js"></script>
    <script src="~/App/ViewModels/ConfirmEmailViewModel.js"></script>
    <script src="~/App/ViewModels/MainViewModel.js"></script>
    <script src="~/App/ViewModels/BudgetDetailViewModel.js"></script>

</body>
</html>
